
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/IndexM.css" />
    <title>Ínicio</title>
</head>
<body>

    <header class="topo">
        <nav class="barraNav">
            <h2 class="esquerda">Olá</h2>
            <h1 class="centro">Sorria+</h1>
            <a asp-controller="CadMedico" asp-action="LoginM" class="btn-voltar direita">Sair</a>
        </nav>
    </header>

    <div class="paiCarteirinha">
        <div class="carteirinha">
            <h3>CRM</h3>
            <label>Nome: DR. João Silva </label>
            <label>Número: 246810918 </label>
            <label>Especialidade: Odontologia </label>
        </div>
    </div>

    <div class="container-cards">
        <div class="card-consulta">
            <div class="info">
                <h3>Letícia Xavier</h3>
                <p><strong>Plano:</strong>Sorria+ Premium</p>
                <p><strong>Data:</strong> 15/12/2026</p>
                <p><strong>Hora:</strong> 10:00</p>
                <p><strong>Local:</strong> Sorria+ Pinheiros</p>
            </div>
            <div class="status">
                <button class="cancelar"> Cancelar</button>
                <button class="editar"> Confirmar</button>
                <label class="pendente">Pendente</label>
            </div>
        </div>
        <div class="card-consulta">
            <div class="info">
                <h3>Victória Souza</h3>
                <p><strong>Plano:</strong>Sorria+ Essencial</p>
                <p><strong>Data:</strong> 12/12/2025</p>
                <p><strong>Hora:</strong> 11:30</p>
                <p><strong>Local:</strong> Sorria+ Osasco</p>
            </div>
            <div class="status">
                <button class="cancelar"> Cancelar</button>
                <button class="editar"> Confirmar</button>
                <label class="pendente">Pendente</label>

            </div>
        </div>
        <div class="card-consulta">
            <div class="info">
                <h3>Júlio Mesquita</h3>
                <p><strong>Plano:</strong>Sorria+ Plus</p>
                <p><strong>Data:</strong> 03/12/2025</p>
                <p><strong>Hora:</strong> 16:00</p>
                <p><strong>Local:</strong> Sorria+ Vila Mariana</p>
            </div>
            <div class="status">
                <button class="cancelar"> Cancelar</button>
                <button class="editar"> Confirmar</button>
                <label class="pendente">Pendente</label>
            </div>
        </div>
    </div>

    <script src="~/js/IndexM.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>

