
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Index.css" />
    <title>Ínicio</title>
</head>
<body>
    
        <header>
        <nav class="barraNav">
            <h2>Olá</h2>
            <h2>Sorria+</h2>
           </nav>
        </header>

        <div class="carteirinha">
            <h3>Carteirinha Sorria+</h3>
            <label>Nome: </label>
            <label>Número: </label>
            <label>Plano: </label>
        </div>
<div class="lista">
    <table>
       <thead>
          <tr>
              <th>Data e Hora</th>
              <th>Local</th>
              <th>Médico</th>
              <th>Tipo</th>

          </tr> 
       </thead>

        <tbody>
              <tr>
               <td>10/12/2025</td> 
               <td>Sorria+ Osasco</td>
               <td>Dr. Marcelo</td>
               <td>Bucomaxilar</td>
              </tr>
        </tbody>
    </table>
        <button id="btneditar" class="btn">Editar</button>
        <button id="btneditar" class="btn">Cancelar</button>
    </div>
    <button class="popup">Agendar consulta</button>
    
    <div class="modal" id="modal">
        <img src="~/img/btn-close.png" class="btn-close" id="btn-close"/>
        <div class="form-group">
        <label for="especialidade">Escolha a especialidade:</label>
        <select id="especialidade"  class="form-control">
            <option value="Cardiologia">Cardiologia</option> 
            <option value="Ortopedia">Ortopedia</option>
            <option value="Pediatria">Pediatria</option> 
            <option value="Clínica Geral">Clínica Geral</option> 
        </select>
        </div>
        <div class="form-group"> 
            <label for="medico">Médico disponível:</label> 
            <select id="medico" class="form-control" disabled> 
                <option value=""></option> 
                </select> 
        </div>

        <div class="form-group">
            <label for="unidade">Unidade(s) disponível(is):</label> 
            <select id="unidade" class="form-control" disabled> 
                <option value=""></option> 
                </select> 
        </div>
        <div class="form-group">
            <label for="horario">Horário disponível:</label>
            <select id="horario" class="form-control" disabled> 
                <option value=""></option> 
                </select> 
        </div>
            <button type="submit" class="btn btn-primary">Agendar Consulta</button>
     
    </div>

    <script src="~/js/Index.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
