

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <img src="~/img/dente1.png" class="imgbg"/>
    <form asp-action="Login">
        <div class="LoginP">
            <h2>Login</h2>
            <div class="form-group">
                <select id="inputOpcao" class="form-control">
                    <option >Selecionar tipo de acesso...</option>
                    <option  selected>Paciente</option>
                    <option>Médico</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputCarteirinha">Carteirinha</label>
                <input type="text" class="form-control" id="inputCarteirinha">
                <span asp-validation-for="Carteirinha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="inputCPF">CPF</label>
                <input type="text" class="form-control" id="inputCPF">
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="inputSenha">Senha</label>
                    <input type="password" class="form-control" id="inputSenha">
                    <span asp-validation-for="Senha" class="text-danger"></span> 
                </div>
            </div>
            <button type="submit" class="btn">Acessar</button>
        </div>
    </form>
</body>
</html>