@model List<Clinica.Models.Agenda>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamentos</title>
</head>
<body>
    @{
        ViewBag.Title = "Agendar Consulta";
    }

    <h2>Agendar Consulta</h2>

    <p>Escolha uma data para ver os horários disponíveis:</p>

    <input type="date" id="dataEscolhida" />

    <h3>Horários Disponíveis</h3>

    @if (Model != null && Model.Count > 0)
    {
        <ul>
            @foreach (var horario in Model)
            {
                <li>
                    @horario.DataH.ToString("dd/MM/yyyy HH:mm") - Médico CRM: @horario.CRM
                </li>
            }
        </ul>
    }
    else
    {
        <p>Nenhum horário disponível.</p>
    }


    <button id="btnBuscar">Buscar horários</button>

    <div id="resultado"></div>
</body>
