@model Clinica.Models.MedicoViewModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Medico.css"/>
    <title>Cadastro</title>
</head>
<body>
<img src="~/img/dente4bg.jpg" class="imgbg" />

        <div class="containerM">
        <form asp-action="CadastroM" asp-controller="CadMedico" method="post">
            <h2>Realize seu Cadastro</h2>
            <div class="form-group">
                <select id="inputO" class="form-control">
                    <option selected disabled>Selecionar tipo de acesso...</option>
                    <option value="/CadPaciente/CadastroP">Paciente</option>
                    <option value="Medico" selected>Médico</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputCRM">CRM</label>
                <input asp-for="Medico.Crm" class="form-control" id="inputCRM">
                <span asp-validation-for="Medico.Crm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="inputNome">Nome</label>
                <input asp-for="Medico.Nome" class="form-control" id="inputCPF">
                <span asp-validation-for="Medico.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="inputEspecialidade">Especialidade</label>
                <input asp-for="Medico.Especialidade" class="form-control" id="inputEspecialidade">
                <span asp-validation-for="Medico.Especialidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input asp-for="Medico.Email" class="form-control" id="inputEmail">
                <span asp-validation-for="Medico.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="inputTel">Telefone</label>
                <input asp-for="Medico.Telefone" class="form-control" id="inputTel">
                <span asp-validation-for="Medico.Telefone" class="text-danger"></span>
            </div>

            <label class="unidadeslbl">Unidades onde o médico atende:</label>
            <div class="unidades">
                @foreach (var uni in Model.Unidades)
                {
                    <div>
                        <input type="checkbox" name="UnidadesSelecionadas"
                               value="@uni.IdUnidade"
                               @(Model.UnidadesSelecionadas.Contains(uni.IdUnidade) ? "checked" : "") />
                        <label>@uni.NomeU</label>
                    </div>
                }
            </div>


            <div class="form-group">
                <label for="inputSenha">Senha</label>
                <input asp-for="Medico.Senha" class="form-control" id="inputSenha">
                <span asp-validation-for="Medico.Senha" class="text-danger"></span>
            </div>

            <button type="submit" class="btnCad">
                <a asp-action="Index" asp-controller="Home">
                    Cadastrar
                </a>
            </button>
            <a asp-action="LoginM" asp-controller="CadMedico" class="btntroca">
                Já tem conta? Faça Login
            </a>
        </form>
        </div>
    <script src="~/js/Medico.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>