body {
    margin: 0;
    padding: 0;
}

.topo {
    width: 100%;
    background: #A8E6CF;
}

.barraNav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}


.barraNav h1 {
   left: 50%;
   transform: translateX(-50%);

}

.btn-voltar {
    padding: 6px 14px;
    color: white;
    text-decoration: none;
    background: #A8E6CF;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 15px;
    border: 2px solid #6ec3a4;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}


.btn-voltar:hover {
    background: #94e4c4;
    box-shadow: 0 3px 7px rgba(0,0,0,0.2);
}

.container-cards {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card-consulta {
    width: 350px;
    background: #e0e0e0;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    text-align: center
}



.info h3 {
    margin: 0;
    color: #333;
    font-size: 1.3rem;
}

.info p {
    margin: 4px 0;
    color: #555;
    font-size: 0.95rem;
}

.status {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pendente{
    color: #ee8282;
}

.status button {
    border-radius: 6px;
    border: 0 solid;
    padding: 4px;
    cursor: pointer;
}

.cancelar{
    background-color: #f83e3e;
}

.editar{
    background-color: #0feb9d;
}


.paiModal {
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.modal {
    padding: 50px 30px;
    position: absolute;
    gap: 0.5rem;
    width: 30%;
    height: 50%;
    font-size: 21px;
    background-color: #ffffff;
    border: 3px solid #808080;
    border-radius: 15px;
    flex-direction: column;
    text-align: left;
    border: 1px solid #ababab;
    box-shadow: 5px 5px 10px 0px gray;
    opacity: 0;
    transform: translateY(900px);
    transition: opacity 0.4s ease, transform 1s ease;
    visibility: hidden;
}

.modal.ativa {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.btn-agendar {
    width: 100%;
    padding: 12px 22px;
    border: none;
    border-radius: 12px;
    background: #2be0a0;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
    margin-top: 15px;
}

.btn-agendar:hover {
    background: #0feb9d;
}

.btn-close {
    width: 1%;
    margin-left: 80%;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    position: absolute;
}

.btn-close hover {
    transform: scale(1.12);
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-control {
    width: 100%;
    height: 45px;
    padding: 0px 12px;
    border: 2px solid #6ec3a4;
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
    background: #f8fefe;
    box-sizing: border-box;
    display: block;
}

    .form-control:focus {
        border-color: #4da98b;
    }

.popup {
    padding: 12px 22px;
    border: none;
    border-radius: 15px;
    background: #6ec3a4;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    transition: .3s;
}

.popup-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.popup-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 15px;
}

.popup:hover {
    background: #55b595;
}


.btn-close {
    width: 15%;
    margin-top: 15px;
    margin-left: 80%;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.paiCarteirinha{
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

.carteirinha {
    display: flex;
    flex-direction: column;
    background-color: #6ec3a4;
    padding: 1.5rem 1.5rem 2.5rem;
    width: 25%;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;

}