body {
}

.modal{
    position: absolute;
    width: 30%;
    height: 45%;
    font-size: 21px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffffff;
    border: 3px solid #808080;
    border-radius: 15px;
    flex-direction: column;
    text-align: left;
    opacity: 0;
    transform: translateY(900px);       
    transition: opacity 0.4s ease, transform 1s ease;
}

.modal.ativa {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.btn-close {
    width: 15%;
    margin-top: 15px;
    margin-left: 80%;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
