html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 60px;
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}

.imgbg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
    display: block;
    object-fit: cover;
}

.LoginP, .containerP {
    transition: opacity 0.4s ease-in-out;
}


.containerP {
    background: linear-gradient(135deg, #4ec68f, #357c8d);
    padding: 2% 3%;
    border-radius: 4%;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    width: 30%;
    margin-left: 40%;
   
}


.LoginP {
    background-color: #357c8d;
    width: 40%;
    height: 60%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  
}


.LoginP input, select {
    width: 130%;
    display: block;
    height: 23px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
}

.LoginP h2{
    font-size: 23px;
}

.LoginP .form-group input,
.LoginP .form-group select  {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.containerP .form-group {
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}


h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

label {
    display: block;
    margin-bottom: 2px;
    margin-top: 4%;
    font-weight: 600;
    color: white;
    font-size: 12px;
}

.containerP input,
select {
    width: 100%;
    height: 23px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    margin: 1px;
}


select, option {
    font-size: 13px;
}


.linha {
    margin-bottom: 10px;
    flex-direction: row;

}

    .linha #inputSenha {
        width: 55%;
        flex-direction: row;
        position: sticky;
    }

    .linha #inputOpSex {
        margin-left: 60%;
        margin-top: -10%;
        width: 40%;
        flex-direction: row;
        display: block;
    }

    .linha #inputTel {
        display: flex;
        position: sticky;
        width: 55%;
        flex-direction: row;
        margin-top: 5px;
    }

    .linha #inputPlano {
        margin-left: 60%;
        margin-top: -10%;
        width: 40%;
        flex-direction: row;
    }

#inputTel, label[for="inputTel"]{
    margin-top: 3px;
}

.field-validation-error {
    color: red;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: -16px;
    display: block;
}

#inputPlano + .field-validation-error {
    margin-left: 60%;
    margin-top: 1%;
}

#inputPlano:has(+ .field-validation-error) {
    transform: translateY(4px);
}

#inputOpSex + .field-validation-error{
    margin-left: 60%;
    margin-top: 1%;

}

#inputOpSex:has(+ .field-validation-error) {
    transform: translateY(4px);
}

#inputEmail, #inputO {
    margin-bottom: -4px;
}


.btnCad{
    height: 5vh;
    background-color: #0096c7;
    color: #fff;
    border: none;
    width: 100%;
    padding: 4px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

    .btnCad:hover {
        background-color: #0077b6;
    }

.btnLog {
    height: 5vh;
    background-color: #0096c7;
    color: #fff;
    border: none;
    width: 100%;
    padding: 4px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

    .btnLog:hover {
        background-color: #0077b6;
    }

.btntroca{
    font-size: 13px;
    margin-top: 4px;
    cursor: pointer;
    color: white;
    text-decoration: underline 1.3px;
}

    .btntroca:hover {
        color: yellow;
    }