html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 60px;
    background: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}

.imgbg {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    object-fit: cover;
}

.LoginP {
    background-color: #357c8d;
    width: 800px;
    max-width: 1000px;
    padding: 100px 150px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: white;
    font-size:3rem
}

.form-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

input, select {
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    left: 0;
    padding: 9px;
    border-radius: 7px;
    border-color: white;
    transition: all 0.3s ease;
}

    #inputOpcao, select {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

select {
    border: none;
    outline: none;
    border-radius: 7px;
    border-color: white;
    font-size: 16px;
}

label {
    margin-bottom: 10px;
    margin-left: 10%;
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
    display: block;
}

.btn {
    background-color: #27415e;
    color: #fff;
    border: none;
    width: 70%;
    margin-top:7%;
    margin-left: 15%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

    .btn:hover {
        background-color: #355d7b;
    }

