html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 60px;
    background: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}

.imgbg {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    object-fit: cover;
}



.containerM {
    background: linear-gradient(135deg, #4ec68f, #357c8d);
    padding: 2% 3%;
    border-radius: 4%;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    width: 30%;
}

.LoginM {
    width: 35%;
    height: 55%;
    padding: 75px;
    background-color: #357c8d;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.LoginM input, select, #inputO {
    width: 100%;
    height: 26px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
}

.LoginM .form-group {
    width: 100%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}


.LoginM h2 {
    margin-top: -5%;
    font-size: 23px;
}

.LoginM .field-validation-error {
    color: red;
    font-size: 12px;
    margin-top: 0;
    display: block;
    margin-bottom: -12px;
}

h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
}


label {
    display: block;
    margin-bottom: 2px;
    margin-top: 4%;
    font-weight: 600;
    color: white;
    font-size: 12px;
}

.containerM .form-group {
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}

.containerM .form-group {
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}

.containerM input,
select {
    width: 100%;
    height: 23px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    margin: 1px;
}


select, option {
    font-size: 13px;
}

.containerM .field-validation-error {
    color: red;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: -16px;
    display: block;
}


.btnCad {
    height: 5vh;
    background-color: #0096c7;
    color: #fff;
    border: none;
    width: 100%;
    padding: 4px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

    .btnCad:hover {
        background-color: #0077b6;
    }

.btnLog {
    height: 5vh;
    background-color: #0096c7;
    color: #fff;
    border: none;
    width: 100%;
    padding: 4px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

    .btnLog:hover {
        background-color: #0077b6;
    }

.btntroca {
    font-size: 13px;
    margin-top: 4px;
    cursor: pointer;
    color: white;
    text-decoration: underline 1.3px;
}

    .btntroca:hover {
        color: yellow;
    }