html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 60px;
    background: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}

.containerP {
    background: linear-gradient(135deg, #80ed99, #57cc99);
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 480px;
    left: 50%;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #023eBa;
}

.form-group {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s ease;
}

    input:focus,
    select:focus {
        border-color: #0077b6;
        box-shadow: 0 0 5px rgba(0, 119, 182, 0.3);
        outline: none;
    }

.radio-group,
.select-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}


.btn-submit {
    background-color: #0096c7;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

    .btn-submit:hover {
        background-color: #0077b6;
    }

.containerM
{

}